# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.dylib

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Cython
*.c
*.cpp

# PyCharm
*.idea/

# Sphinx documentation
docs/_build/

# libbson files
libbson
mongo-c-driver-*


# Benchmark and test output files
results/*
xunit-results/
