include README.md
include LICENSE
include *.sh
include pyproject.toml
include tox.ini

exclude THIRD-PARTY-NOTICES
exclude addtags.py
exclude benchmark.py
exclude repair_wheel.py
exclude RELEASE.md
exclude asv.conf.json

graft pymongoarrow

recursive-include test *
recursive-exclude docs *
recursive-exclude benchmarks *

global-exclude *.cpp
global-exclude *.dylib
global-exclude *.so.*
global-exclude *.so
global-exclude *.dll
global-exclude *.pyd
global-exclude *.pyc
global-exclude .git*
global-exclude .DS_Store
