[build-system]
requires = [
    "setuptools>=47.9",
    "wheel>=0.37",
    "cython>=0.29",
    # Must be kept in sync with the `install_requires` in `setup.cfg`
    "pyarrow>=11.0,<11.1.0",
]

[tool.cibuildwheel]
skip = "pp* *-manylinux_i686 *_ppc64le *_s390x *-musllinux*"
before-build = "bash ./cibw_before_build.sh"
build-frontend = "build"
test-command = "python -c \"from pymongoarrow.lib import process_bson_stream\""
# Disable wheel repair, see https://jira.mongodb.org/browse/ARROW-122.
repair-wheel-command = ""

[tool.cibuildwheel.environment]
LIBBSON_INSTALL_DIR = "./libbson"

[tool.cibuildwheel.linux]
archs = "x86_64 aarch64"
manylinux-x86_64-image = "manylinux2014"
repair-wheel-command = [
    "pip install \"auditwheel>=5,<6\"",
    "python addtags.py {wheel} {dest_dir}"
]

[tool.cibuildwheel.macos]
archs = "x86_64 arm64"
test-skip = "*arm64"
