name: Python Benchmark

on:
  pull_request:

concurrency:
  group: benchmark-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    working-directory: ./bindings/python
    shell: bash

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-22.04"]
        python-version: ["3.10"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: '**/setup.cfg'
      - name: Start MongoDB
        uses: mongodb-labs/drivers-evergreen-tools@master
        with:
          version: "7.0"
      - name: Install deps
        run: |
          python -m pip install rust-just uv
      - name: Set up env
        run: |
           echo "LIBBSON_INSTALL_DIR=$PWD/libbson" >> $GITHUB_ENV
      - name: Install libbson
        run: |
          just build-libbson
      - name: Install benchmarks
        run: |
          just benchmark-install
      - name: Run benchmarks
        env:
          # Based on https://github.com/astropy/astropy/blob/1d3dac9a6fbc96b00e4c79cd5965a40d6fcef93f/.github/workflows/ci_benchmark.yml#L19
          # and config from https://github.com/astropy/astropy/blob/1d3dac9a6fbc96b00e4c79cd5965a40d6fcef93f/asv.ci.conf.json
          BASE_SHA: ${{ github.event.pull_request.base.sha }}
        run: |
          just benchmark-ci ${BASE_SHA} ${GITHUB_SHA}
