name: Build pymongoarrow wheels on OSX

on:
  push:
  pull_request:

jobs:
  build-osx-wheels:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-10.15]
        python-version: [3.6, 3.7, 3.8, 3.9]
    name: Build ${{ matrix.os }} ${{ matrix.python-version }} wheel
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Build wheels
        run: |
          ./release.sh
        working-directory: ./bindings/python
      - uses: actions/upload-artifact@v2
        with:
          name: pymongoarrow-osx-${{ matrix.python-version }}-wheel
          path: ./bindings/python/dist/*.whl
          if-no-files-found: error
  test-osx-wheels:
    needs: build-osx-wheels
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-10.15]
        python-version: [3.6, 3.7, 3.8, 3.9]
    name: Test ${{ matrix.os }} ${{ matrix.python-version }} wheel
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Download a previously created wheel
        uses: actions/download-artifact@v2
        with:
          name: pymongoarrow-osx-${{ matrix.python-version }}-wheel
      - name: Install wheel
        run: |
          python -m pip install -U pip
          python -m pip install *.whl
      - name: Test wheel
        run: |
          python -c "from pymongoarrow.lib import process_bson_stream"
