name: Python Tests

on:
  push:
      branches: ["main"]
  pull_request:

concurrency:
  group: tests-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    working-directory: ./bindings/python
    shell: bash

jobs:

  pre-commit:
    name: pre-commit
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - uses: pre-commit/action@v2.0.0
        with:
          extra_args: --all-files --hook-stage=manual

  build:
    # supercharge/mongodb-github-action requires containers so we don't test other platforms
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-20.04", "macos-latest", "windows-latest"]
        python-version: [3.7, 3.8, 3.9, "3.10"]
      fail-fast: false
    name: CPython ${{ matrix.python-version }}-${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: '**/setup.cfg'
      - name: Start MongoDB on Linux
        if: ${{ startsWith(runner.os, 'Linux') }}
        uses: supercharge/mongodb-github-action@1.3.0
        with:
          mongodb-version: 4.4
          mongodb-replica-set: test-rs
      - name: Start MongoDB on MacOS
        if: ${{ startsWith(runner.os, 'macOS') }}
        run: |
          mkdir data
          mongod --fork --dbpath=$(pwd)/data --logpath=$PWD/mongo.log
      - name: Start MongoDB on Windows
        if: ${{ startsWith(runner.os, 'Windows') }}
        shell: powershell
        run: |
          mkdir data
          mongod --remove
          mongod --install --dbpath=$(pwd)/data --logpath=$PWD/mongo.log
          net start MongoDB
      - name: Install libbson
        run: |
          LIBBSON_INSTALL_DIR=$(pwd)/libbson ./build-libbson.sh
      - name: Install Python dependencies
        run: |
          python -m pip install -U pip
      - name: Install pymongoarrow
        run: |
          # Install the library with no deps
          LIBBSON_INSTALL_DIR=$(pwd)/libbson python -m pip install -vv -e "."
      - name: Ensure imports with no test deps
        run: |
          python -c "from pymongoarrow.monkey import patch_all; patch_all()"
      - name: Run tests
        run: |
          # Install the test deps
          LIBBSON_INSTALL_DIR=$(pwd)/libbson python -m pip install -vv -e ".[test]
          LD_LIBRARY_PATH=$(pwd)/libbson/lib python -m unittest discover test -v
      - name: Check the manifest
        run: |
          pip install check-manifest
          check-manifest -v

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Cache conda
        uses: actions/cache@v3
        env:
          # Increase this value to reset cache if environment.yml has not changed
          CACHE_NUMBER: 0
        with:
          path: ~/conda_pkgs_dir
          key:
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{
            hashFiles('bindings/python/docs/environment.yml') }}
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          activate-environment: mongo_arrow_documentation
          environment-file: bindings/python/docs/environment.yml
          use-only-tar-bz2: true  # IMPORTANT: This needs to be set for caching to work properly!
      - name: Install lib
        shell: bash -l {0}
        run: |
          pip install .
      - name: Build docs with warnings
        shell: bash -l {0}
        run: |
          pushd docs
          make html SPHINXOPTS="-W"
      - name: Run linkcheck
        shell: bash -l {0}
        run: |
          pushd docs
          make linkcheck
