name: Python Tests

on:
  push:
  pull_request:

concurrency:
  group: tests-${{ github.ref }}
  cancel-in-progress: true

defaults:  
  run:  
    working-directory: ./bindings/python
    shell: bash

jobs:
  build:
    # supercharge/mongodb-github-action requires containers so we don't test other platforms
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-20.04", "macos-latest", "windows-latest"]
        python-version: [3.6, 3.7, 3.8, 3.9, "3.10"]
      fail-fast: false
    name: CPython ${{ matrix.python-version }}-${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1
      - name: Start MongoDB on Linux
        if: ${{ startsWith(runner.os, 'Linux') }}
        uses: supercharge/mongodb-github-action@1.3.0
        with:
          mongodb-version: 4.4
          mongodb-replica-set: test-rs
      - name: Start MongoDB on MacOS
        if: ${{ startsWith(runner.os, 'macOS') }}
        run: |
          mkdir data
          mongod --fork --dbpath=$(pwd)/data --logpath=$PWD/mongo.log
      - name: Start MongoDB on Windows
        if: ${{ startsWith(runner.os, 'Windows') }}
        shell: powershell
        run: |
          mkdir data
          mongod --remove
          mongod --install --dbpath=$(pwd)/data --logpath=$PWD/mongo.log
          net start MongoDB
      - name: Install libbson
        run: |
          LIBBSON_INSTALL_DIR=$(pwd)/libbson ./build-libbson.sh
      - name: Install pymongoarrow
        run: |
          # Install the library
          LIBBSON_INSTALL_DIR=$(pwd)/libbson python -m pip install -vvv -e ".[test]"
      - name: Run tests
        run: |
          LD_LIBRARY_PATH=$(pwd)/libbson/lib python -m unittest discover test -v
      - name: Check the manifest
        run: |
          pip install check-manifest
          check-manifest -v

  docs:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]
    name: Documentation
    steps:
      - uses: actions/checkout@v2
      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1
      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          activate-environment: mongo_arrow_documentation
          miniforge-variant: Mambaforge
          environment-file: bindings/python/docs/environment.yml
          python-version: ${{ matrix.python-version }}
      - name: Build docs
        shell: bash -l {0}
        working-directory: ./bindings/python/docs
        run: |
          set -eux
          pip install ..
          make html SPHINXOPTS="-W"
