name: Python Tests

on:
  push:
  pull_request:

jobs:
  build:
    # supercharge/mongodb-github-action requires containers so we don't test other platforms
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
        python-version: [3.6, 3.7, 3.8, 3.9, "3.10"]
    name: CPython ${{ matrix.python-version }}-${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.3.0
        with:
          mongodb-version: 4.4
          mongodb-replica-set: test-rs
      - name: Install libbson
        run: |
          LIBBSON_INSTALL_DIR=$(pwd)/libbson ./build-libbson.sh
        working-directory: ./bindings/python
      - name: Install Python dependencies
        run: |
          python -m pip install -U pip wheel
          python -m pip install -r requirements/test.txt
        working-directory: ./bindings/python
      - name: Install pymongoarrow
        run: |
          # Use pip install to pull in install_requires dependencies
          LIBBSON_INSTALL_DIR=$(pwd)/libbson python -m pip install -e .
          # Re-compile to see compiler/linker output in the logs
          LIBBSON_INSTALL_DIR=$(pwd)/libbson python setup.py build_ext --inplace --force
        working-directory: ./bindings/python
      - name: Run tests
        run: |
          LD_LIBRARY_PATH=$(pwd)/libbson/lib python -m unittest discover test -v
        working-directory: ./bindings/python
