name: Python Tests

on:
  push:
      branches: ["main"]
  pull_request:

concurrency:
  group: tests-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    working-directory: ./bindings/python
    shell: bash -eux {0}

jobs:

  lint:
    name: pre-commit
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: actions/setup-python@v5
      - name: Install Deps
        run: |
          python -m pip install rust-just uv
      - name: Run linter
        run: just lint

  build:
    # supercharge/mongodb-github-action requires containers so we don't test other platforms
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
      fail-fast: false
    name: CPython ${{ matrix.python-version }}-${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: '**/pyproject.toml'
      - name: Set up env
        run: |
           echo "LIBBSON_INSTALL_DIR=$PWD/libbson" >> $GITHUB_ENV
           echo "LD_LIBRARY_PATH=$PWD/libbson/lib" >> $GITHUB_ENV
      - name: Start MongoDB on Linux
        if: ${{ startsWith(runner.os, 'Linux') }}
        uses: supercharge/mongodb-github-action@1.12.0
        with:
          mongodb-version: 4.4
          mongodb-replica-set: test-rs
      - name: Start MongoDB on MacOS
        if: ${{ startsWith(runner.os, 'macOS') }}
        run: |
          brew tap mongodb/brew
          brew update
          brew install mongodb-community@7.0
          mkdir data
          mongod --fork --dbpath=$(pwd)/data --logpath=$PWD/mongo.log
          # Install pkg-config
          brew install pkg-config
      - name: Start MongoDB on Windows
        if: ${{ startsWith(runner.os, 'Windows') }}
        shell: powershell
        run: |
          mkdir data
          mongod --remove
          mongod --install --dbpath=$(pwd)/data --logpath=$PWD/mongo.log
          net start MongoDB
      - name: Install Deps
        run: |
          python -m pip install rust-just uv
      - name: Install libbson
        run: just build-libbson
      - name: Ensure imports with no test deps
        run: just import-check
      - name: Run the tests
        run: just test

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
          cache: 'pip'
          cache-dependency-path: '**/pyproject.toml'
      - name: Install Deps
        run: |
          python -m pip install rust-just uv
      - name: Build docs
        run: just docs
      - name: Run linkcheck
        run: just docs-linkcheck
