name: Test mongo-arrow

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
    name: Test on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.3.0
        with:
          mongodb-version: 4.4
          mongodb-replica-set: test-rs
      - name: Install libbson
        run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
              wget https://github.com/mongodb/mongo-c-driver/releases/download/1.17.4/mongo-c-driver-1.17.4.tar.gz
              tar xzf mongo-c-driver-1.17.4.tar.gz
              cd mongo-c-driver-1.17.4
              mkdir cmake-build
              cd cmake-build
              cmake -DENABLE_AUTOMATIC_INIT_AND_CLEANUP=OFF -DENABLE_MONGOC=OFF ..
              cmake --build .
              sudo cmake --build . --target install
          elif [ "$RUNNER_OS" == "macOS" ]; then
              sudo brew install mongo-c-driver
          else
              echo "$RUNNER_OS not supported"
              exit 1
          fi
        working-directory: ./bindings/python
      - name: Install pymongoarrow
        run: |
          pip install .
        working-directory: ./bindings/python
      - name: Run pymongoarrow testsuite
        run: python -m unittest discover
        working-directory: ./bindings/python
